.caminante {
	background-image: url('walking2.gif');
	background-size: 200px 100px;
	width: 100%;
	height: 200px;
	background-repeat: no-repeat;
	animation: gorilla 20s linear infinite;
	position: absolute; top: 190px;
}

@keyframes gorilla{from{background-position-x:calc(100% + 200px * 1)}to{background-position-x:-200px}}
