.titulos{
	font-family: 'Cormorant Garamond';
	color: #723E20;
}

.textos{
	font-family: 'Cormorant Garamond';
	font-size: 1.25em;
	line-height: 1.25em;
	margin: 1em;
	color: #723E20;
	
}

.titulosEspeciales{
	font-family: 'garamond-premier-pro-regular';
	color: #723E20;
	/*font-style: italic;*/
}

/*
#723E20
#F0E8B2
*/
